.gcloudignore
.git
.gitignore
.env
.env.*
.venv/
venv/
env/
ENV/
.vscode/
.idea/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
logs/
dist/
build/
htmlcov/
.pytest_cache/
.tox/
.coverage
.DS_Store

token/
token_sistema.json
.streamlit/secrets.toml
secret_Outh_demo/

*.sql
*.ipynb
README.md
LICENSE
seed/
setup_iniziale.py
update_dep.py
